<div flex class="dvdctrl-content" layout="column" layout-align="start stretch">
  <div flex="100" class="dvd-controls" layout="row" layout-align="canter center">
    <div flex="33" class="dvdctrl-column" layout="column" layout-align="center center">
      <div class="column-third" flex="33">
        <md-button class="md-icon-button left-button responsive-dvd-button" ng-click="dvdCommand('Left')" aria-label="dvd-left">
          <md-icon class="dvd-remote-button-icon" md-svg-src="/js/@material-icons/svg/svg/keyboard_arrow_left/baseline.svg">
        </md-button>
      </div>
    </div>
    <div flex="" class="dvdctrl-column" layout="column" layout-align="center center">
      <div class="column-third" flex="33">
        <md-button class="md-icon-button up-button responsive-dvd-button" ng-click="dvdCommand('Up')" aria-label="dvd-up">
          <md-icon class="dvd-remote-button-icon" md-svg-src="/js/@material-icons/svg/svg/keyboard_arrow_up/baseline.svg">
        </md-button>
      </div>
      <div class="column-third" flex="33">
        <md-button class="md-icon-button enter-button responsive-dvd-button" ng-click="dvdCommand('Return')" aria-label="dvd-enter">
          <md-icon class="dvd-remote-button-icon" md-svg-src="/js/@material-icons/svg/svg/fiber_manual_record/baseline.svg">
        </md-button>
      </div>
      <div class="column-third" flex="33">
        <md-button class="md-icon-button down-button responsive-dvd-button" ng-click="dvdCommand('Down')" aria-label="dvd-down">
          <md-icon class="dvd-remote-button-icon" md-svg-src="/js/@material-icons/svg/svg/keyboard_arrow_down/baseline.svg">
        </md-button>
      </div>
    </div>
    <div flex="33" class="dvdctrl-column" layout="column" layout-align="center center">
      <div class="column-third" flex="33">
        <md-button class="md-icon-button right-button responsive-dvd-button" ng-click="dvdCommand('Right')" aria-label="dvd-right">
          <md-icon class="dvd-remote-button-icon" md-svg-src="/js/@material-icons/svg/svg/keyboard_arrow_right/baseline.svg">
        </md-button>
      </div>
    </div>
  </div>
</div>
