<div class="rating-panel-content" layout="column" layout-align="center stretch">

  <div flex="" class="classification-image-container">
    <div class="panel-element classification-icon" ng-style="{'background-image':('url(/img/mpaa/{{rating.rating[0]}}.svg')}" ng-if="rating"></div>
    <div class="panel-element classification-icon data-missing-icon" ng-if="!rating"></div>
  </div>

  <div class="panel-element rating-text" layout="column" layout-align="center stretch">

    <div class="panel-element rating-title">
      <div class="panel-element rating-title" ng-if="rating">{{rating.name[0]}} ({{rating.year[0]}})</div>
      <div id="missing-classification-title" class="missing-data" ng-if="!rating">Rating Unavailable</div>
    </div>

    <div class="panel-element rating-shortforminsight">
      <div data-fittext class="insight" ng-if="scope.rating.ratingReason[0]">{{rating.ratingReason[0]}}</div>
      <div data-fittext class="missing-insight missing-data" ng-if="!scope.rating.ratingReason[0]">Rating Reason Unvailable</div>
    </div>

  </div>

</div>
